*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: monospace;
  background-color: #83b7b5;
  overflow: hidden;
}

#controlPanel {
  position: fixed;
  display: flex;
  /* align-items: flex-start; */
  bottom: 0;
  right: 0;
}

#previewHolder {
  display: flex;
  flex-direction: column;
}

.settingsPanel {
  padding: 5px;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

#controls {
  display: flex;
  flex-direction: column;
}

#info {
  display: flex;
}

#canvas {
  border: 20px solid #83b7b5;
  margin: 20px;
  background: #83b7b5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#smallCanvas {
  image-rendering: pixelated;
  display: none;
}

video {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  width: 1px;
}
