@font-face {
  font-family: "press_start_2pregular";
  src: url("fonts/pressstart2p-regular-webfont.woff2") format("woff2"),
    url("fonts/pressstart2p-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: monospace;

  /* background-color: rgb(53, 132, 251); */
  overflow: hidden;
  font-family: "press_start_2pregular", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #000000;
  cursor: none;
}

main {
  /* display: flex;
  align-items: start;
  justify-content: center; */
  /* filter: hue-rotate(72deg); */
  background-color: #000000;
}

/* PAUSE MODAL */
#pausedModal {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 13;
}
#pausedMessage {
  position: fixed;
  color: white;
  text-align: center;
  padding: 20px;
  z-index: 10;
  background-color: #ff7800;
  border-radius: 20px;
}
#pausedText {
  font-size: 42px;
}
#pausedCountdown {
  font-size: 30px;
}

/* RALLY TALLY TEXT */
#rallyTextHolder {
  position: fixed;
  top: 100px;
  color: white;
  left: 0;
  text-align: center;
  z-index: 12;
  width: 100vw;
  font-size: 30px;
}
#rallyTallyTitle {
  font-size: 20px;
  /* color: black; */
  font-weight: bold;
}
#rallyTallyText {
  line-height: 1.9em;
  font-size: 24px;
}
#rallyTallyScore {
  font-size: 36px;
}
#bestRallyScore {
  font-size: 36px;
}

/* GAME TEXT */
#gameTextHolder {
  top: 100px;
  position: fixed;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
#gameText {
  font-size: 50px;
  max-width: 600px;
}
#gameInstruction {
  font-size: 30px;
  max-width: 600px;
}

/* PLAYER PANELS */
.playerView {
  position: fixed;
  top: 310px;
  border-radius: 30px;
  overflow: hidden;
  z-index: 9;
}
#player1View {
  left: 10px;
}
#player2View {
  right: 0px;
}
.playerOverlay {
  mix-blend-mode: color;
  position: absolute;
  background: hsl(28, 88%, 33%);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.playerCanvas {
  filter: grayscale(1);
  transform: scale(-1, 1);
  width: 250px;
  display: block;
}
.playerText {
  position: fixed;
  top: 685px;
  width: 230px;
  height: 110px;
  color: black;
  background: hsl(28, 88%, 33%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 12;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#player1Text {
  left: 20px;
}

#player2Text {
  right: 0;
  top: 680px;
}

.hidden {
  width: 1px;
  height: 1px;
  position: fixed;
  overflow: hidden;
  bottom: 0;
  right: 0;
}

#fpsCounter {
  position: fixed;
}

#gameCanvas {
  border: red 1px solid;
}
