*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: monospace;
  padding: 10px;
  background-color: gray;
}

#controlPanel {
  position: fixed;
  top: 0;
  right: 0;
}

.settingsPanel {
  padding: 5px;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

#controls {
  display: flex;
  flex-direction: column;
}

#info {
  display: flex;
}

#canvas {
  outline: 1px solid black;
  /* transform: scaleX(-1); */
}

#smallCanvas {
  image-rendering: pixelated;
}

video {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  width: 1px;
}
